---
layout: default
title: Tari | Protocol Discussions
permalink: /protocol-discussions/
class: subpage blog
---

<!-- Posts Start -->
<section class="main" data-size="{{ site.posts.size }}">
  {% include newsletter-subscribe.html %}
  <div class=" content">
    <div class="new-section">
    <h1 id="blog">Protocol Discussions</h1>
    <p>Protocol discussions are an archive of public discussions that the Tari community has over various aspects of the protocol design space along with potential applications of the Tari blockchain. </p>
  </div>
  <p>Subscribe to our newsletter to learn about our latest discussion topic and time.</p>

    <div
      style="max-width: var(--max-content-width);"
      class="row js-stagger-delay js-add-class-in-view blog-area"
      data-stagger-selector=".js-stagger-delay-post-panel"
      data-stagger-property="animation"
      data-stagger-interval=".1408"
      data-stagger-direction="forwards"
      data-in-view-count="1"
      data-in-view-offset="75%"
    >
      {% for post in site.posts %} {% include post-area.html %} {% endfor %}
    </div>
  </div>
</section>
