---
layout: default
title: Tari | Downloads
permalink: /downloads/
class: subpage blog
---

<!-- Downloads -->
<section class="main">
  {% include newsletter-subscribe.html %}
  <div class="content center-content">
    <div
      id="downloads"
      class="binaries-binaries anchor"
      style="padding-bottom: 40px;"
    >
      <div class="new-section">
        <h1>Downloads</h1>
        <p>Help secure the network, and mine testnet Tari (tXTR) while you do it.
        </p>

      </div>
      <p>The Tari base node software is designed to be easy to set up and to run silently in the background. <a href="{{ site.baseurl }}/updates/2024-01-24-update-127" target="_blank">Learn more about using the binaries</a>. Note: if your operating system does not currently have binary, you must compile from source.
      </p>
      <div class="updates-banner">
        <div class="d-flex">

          <p>We're constantly making improvements to Tari. <a href="{{ site.baseurl }}/updates"><img style="max-width: 20px; margin-left: 20px; margin-right: 5px;" src="{{ site.baseurl }}/assets/img/updates-icon.svg" alt="" /> View the latest updates here</a>.</p>

        </div>
        <p>
      </div>

      </div>
      {% include download_suite.html %}
    </div>
  </div>
</section>
<script src="{{ site.baseurl }}/assets/js/downloads.js"></script>
<!--  downloads end-->
