---
layout: default
title: Tari | Launchpad
permalink: /launchpad/
class: subpage blog
---

<!-- Downloads -->
<section class="main">
  {% include newsletter-subscribe.html %}
  <div class="content">
    <div id="downloads" class="binaries-binaries anchor" style="padding-bottom: 40px;">
      <div class="new-section">
        <h1>Tari Launchpad</h1>
        <p>Mine Tari with a single click. Tari Launchpad installs and configures a node and miners
          behind the scenes. Just point it and your wallet and watch the Minotari roll in.
        </p>
      </div>
      {% include download_launchpad.html %}
    </div>
  </div>
</section>
<script src="{{ site.baseurl }}/assets/js/downloads.js"></script>
<!--  downloads end-->
