---
layout: default
title: Tari | Lessons
permalink: /explore-the-protocol/
class: subpage blog
---

<!-- Posts Start -->
<section class="main" data-size="{{ site.lessons.size }}">
  {% include newsletter-subscribe.html %}
  <div class="content">
    <div class="new-section">
    <h1 id="blog">Lessons</h1>
    <p>The Tari protocol is written entirely in Rust.</p>

  </div>
  <p>The Tari community is a huge fan of Rust due to its performance characteristics and memory and thread safety guarantees. A great way to experiment with Tari libraries is to explore our lessons and dive into the code.</p>

    <div
      style="max-width: var(--max-content-width);"
      class="row js-stagger-delay js-add-class-in-view blog-area"
      data-stagger-selector=".js-stagger-delay-post-panel"
      data-stagger-property="animation"
      data-stagger-interval=".1408"
      data-stagger-direction="forwards"
      data-in-view-count="1"
      data-in-view-offset="75%"
    >
      {% for post in site.lessons  %} {% include lesson-area.html %} {% endfor %}
    </div>
  </div>
</section>
