---
layout: default
title: Tari | Updates
permalink: /updates/
class: subpage blog
---

<!-- Posts Start -->
<section class="main" data-size="{{ site.lessons.size }}">
  {% include newsletter-subscribe.html %}
  <div class="content">
    <div class="new-section">
    <h1 id="blog">Updates</h1>
    <p>The latest updates from developers contributing to the Tari protocol.</p>

  </div>
  <p>Have questions or want to contribute? Join the community discussion on <a href="https://discord.gg/q3Sfzb8S2V" target="_blank">Discord</a> or #tari-dev on <a href="https://libera.chat/" target="_blank">Libera.Chat</a>. You can also subscribe to these updates using <a href="/feed.xml">the RSS Feed</a>.</p>

    <div
      style="max-width: var(--max-content-width);"
      class="row js-stagger-delay js-add-class-in-view blog-area"
      data-stagger-selector=".js-stagger-delay-post-panel"
      data-stagger-property="animation"
      data-stagger-interval=".1408"
      data-stagger-direction="forwards"
      data-in-view-count="1"
      data-in-view-offset="75%"
    >
      {% assign updates = site.updates | sort:"date" | reverse %}
      {% for post in updates %} {% include updates-area.html %} {% endfor %}
    </div>
  </div>
</section>
