<div id="copyright-outer">
  <div id="copyright-inner">
    <p>
      Copyright © {{ site.time | date: '%Y' }}. All Rights Reserved.&nbsp;
  
      <br class="copyright-break" style="display: none;" />
      <a
        style="text-decoration: underline;"
        href="{{ site.baseurl }}/privacy_policy/"
        >Privacy Policy</a
      >.&nbsp;
      <a
        style="text-decoration: underline;"
        href="{{ site.baseurl }}/disclaimer/"
        >Disclaimer</a
      >.&nbsp;
      <a
        style="text-decoration: underline;"
        href="{{ site.baseurl }}/user_agreement/"
        >User Agreement</a
      >.&nbsp;
    </p>
  </div>
</div>
