<div class="downloads-container">
    <div class="tab-button-holder">
        {% for os in site.data.downloads %}

            <div
                    id="{{ os.elementTabButtonID }}"
                    class="tab-button"
                    onclick="selectedOs('{{ os.elementTabButtonID }}','{{ os.elementID }}')"
            >
              <span>
                <img
                        class="os-logo-img"
                        src="{{ site.baseurl }}/assets{{os.logo}}"
                        alt="{{os.elementID}}-Logo"
                />
                <img
                        class="os-logo-img-active"
                        src="{{ site.baseurl }}/assets{{os.logo-active}}"
                        alt="{{os.elementID}}-Logo"
                /> </span
              >
                {{ os.type}}
            </div>
        {% endfor %}
    </div>

    {% for os in site.data.downloads %}
        <div class="download-content" id="{{ os.elementID }}">
            <div class="dl-card">
                <div class="dl-info-holder col-lg-7 col-md-7 col-sm-12">
                    <h2 class="dl-title">{{ os.title }}</h2>
                    <p class="dl-subtitle">
                        {{ os.subtitle }}
                    </p>
                    {% if os.version %}
                    <div class="version">
                        For {{ os.version }}
                       
                    </div>
                    {% endif %}

                    {% if os.download %}
                    <a class="btn " href="{{ site.baseurl}}/{{ os.download }}">{{os.ctaText}}</a>
                    {% endif %}

                    {% if os.tutorial-video %}
                    <a href="{{ os.tutorial-video }}" class="tutorial-video">
              <span
              ><img
                      src="{{ site.baseurl }}/assets/img/downloads/video-icon.svg"
                      alt=""
                      style="margin-top: -2px; max-width: 30px;"
              /></span>
                        View the installation guide
                        <br/><br/>
                    </a>
                    {% endif %}

                    {% if os.source %}
                    <a href="{{ os.source }}" class="source">
              <span
              ><img
                      src="{{ site.baseurl }}/assets/img/downloads/github-logo.svg"
                      alt=""
                      style="margin-top: -3px;"
              /></span>
                        Build from source for {{ os.type }}
                        <br/><br/>
                    </a>
                    {% endif %}
                    {% if os.checksum %}
                    <div class="checksum">
                        SHA256: {{ os.checksum }} 
                        
                    </div>
                    {% endif %}

                    
                </div>
                <video class="dl-machine-img" muted autoplay playsinline poster="{{ site.baseurl }}{{os.video-poster}}">
                    <source src="{{ site.baseurl }}{{os.background-image}}" type="video/mp4">
                </video>
            </div>

            <div class="past-versions-container">
                <h2>Past {{ os.type }} Versions</h2>


                {% assign binaries = site.collections | where:'label', 'binaries' | first %}
                <div class="binaries-container">
                    <div class="bin-headers">
                        <div class="bin-header">
                            <div class="header-text">Filename</div>
                        </div>
                        <div class="bin-header">
                            <div class="header-text">Last modified</div>
                        </div>
                    </div>
                    <div class="bin-content">
                        {% assign sorted = binaries.files | sort: 'path' %}
                        {% for file in sorted %}
                        {% if file.name contains os.filter_spec %}
                        {% assign mod2 = forloop.index | modulo: 2 %}

                        <div class="bin-row {% if mod2 != 0 %} alt-colour {% endif %}">
                            <div class="bin-row-item bin-left" scope="row">
                                <a href="/{{ file.path | remove_first: '_' }}">{{ file.name }}</a>
                                {{ bin }}
                            </div>
                            <div class="bin-row-item bin-right">{{ file.modified_time | date: '%A, %e %b at %k:%M' }}</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
