<!-- Mobile Side Bar -->

<aside id="mobileSidebar">
  <div id="mobileTrigger">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div id="mobileLogo"><a href="{{ site.url }}"></a></div>

  <div id="mobileNav">
    <div class="content">
      <div id="mobileMenu">
        <h2>For Everyone</h2>
        <ul>
          <li style="display: none;" class="current">
            <a href="#intro">Intro</a>
          </li>
          <li><a href="#what-is-tari">What is Tari?</a></li>
          <li><a href="/updates">Read the latest updates</a></li>
          <li><a href="#mobile-wallet">Mobile Wallet</a><img class="nav-wallet-icon" src="{{ site.baseurl }}/assets/img/phone-icon.svg"/></li>
          <li><a href="#block-explorer">Block Explorer</a><img class="nav-explorer-icon" src="{{ site.baseurl }}/assets/img/blockexplorer-icon.svg"/></li>
          <li><a href="#downloads">Downloads</a><img class="nav-wallet-icon" src="{{ site.baseurl }}/assets/img/node-icon.svg"/></li>
          <li><a href="#get-involved">Get Involved</a></li>  
        </ul>

        <h2>For Developers</h2>
        <ul>
          <li><a href="#get-started">Get Started</a></li>
          <li><a href="#explore-the-protocol">Explore the Protocol</a></li>
          <li><a href="#contribute">Make Tari Better</a></li>
          <li><a href="#dev-community">Community</a></li>
          <li><a href="#rfc-docs">RFC Docs</a></li>
        </ul>

        <h2>For Creators</h2>
        <ul>
          <li>
            <a href="#tari-for-creators">Tari for Creators</a>
          </li>
        </ul>
      </div>
      <ul class="mobileMenu">
        <!-- <li><a href="#" id="sign-up-mobi">Subscribe to Newsletter</a></li> -->
      </ul>

      <div id="mobileSocial">
        <ul>
        <li><a href="https://twitter.com/tari" target="_blank">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCFjcsEiAtr9mC1Yt0uJ-3xA" target="_blank">YouTube</a></li>
        <li><a href="https://tari.substack.com/" target="_blank">Substack</a></li>
        <li>
          <a href="https://www.reddit.com/r/tari" target="_blank">reddit</a>
        </li>
        <li>
          <a href="https://github.com/tari-project" target="_blank">GitHub</a>
        </li>
      </ul>

      <a href="https://t.me/tariproject" target="_blank">
        <div class="telegram-button">
      
            <div class="col-2">
              <img src="{{ site.baseurl }}/assets/img/social-telegram.svg">
              <div class="ring-container">
                <div class="ringring"></div>
                <div class="circle"></div>
              </div>
            </div>

           <div class="col-10">
              <p>Join the Conversation</p>
              <div class="telegram-counter-container">
                <div class="telegram-counter" id="mobile-telegram-counter">
                  ...
                </div>
              </div>
           </div>
        
        </div>
      </a>
      </div>
    </div>
  </div>
</aside>

<!-- Desktop Side Bar -->

<aside class="mainMenu">
  <div class="content">
    <div id="logo"><a href="{{ site.url }}"></a></div>

    <div id="menu" class="navmenu">
      <h2>For Everyone</h2>
      <ul>
        <li style="display: none;" class="current">
          <a href="#intro">Intro</a>
        </li>
        <li><a href="#what-is-tari">What is Tari?</a></li>
        <li><a href="/updates">Read the latest updates</a></li>
        <li><a href="#mobile-wallet">Mobile Wallet</a><img class="nav-wallet-icon" src="{{ site.baseurl }}/assets/img/phone-icon.svg"/></li>
        <li><a href="#block-explorer">Block Explorer</a><img class="nav-explorer-icon" src="{{ site.baseurl }}/assets/img/blockexplorer-icon.svg"/></li>
        <li><a href="#downloads">Downloads</a><img class="nav-wallet-icon" src="{{ site.baseurl }}/assets/img/node-icon.svg"/></li>
        <li><a href="#get-involved">Get Involved</a></li>
        
      </ul>

      <h2>For Developers</h2>
      <ul>
        <li><a href="#get-started">Get Started</a></li>
        <li><a href="#explore-the-protocol">Explore the Protocol</a></li>
        <li><a href="#contribute">Make Tari Better</a></li>
        <li><a href="#dev-community">Community</a></li>
        <li><a href="#rfc-docs">RFC Docs</a></li>


      </ul>

      <h2>For Creators</h2>
      <ul>
        <li>
          <a href="#tari-for-creators">Tari for Creators</a>
        </li>
      </ul>

      
    </div>

    <div id="social">
      <ul>
        <li><a href="https://twitter.com/tari" target="_blank">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCFjcsEiAtr9mC1Yt0uJ-3xA" target="_blank">YouTube</a></li>
        <li><a href="https://tari.substack.com/" target="_blank">Substack</a></li>
        <li>
          <a href="https://www.reddit.com/r/tari" target="_blank">reddit</a>
        </li>
        <li>
          <a href="https://github.com/tari-project" target="_blank">GitHub</a>
        </li>
      </ul>

      <a href="https://t.me/tariproject" target="_blank">
        <div class="telegram-button">
      
            <div class="col-2">
              <img src="{{ site.baseurl }}/assets/img/social-telegram.svg">
              <div class="ring-container">
                <div class="ringring"></div>
                <div class="circle"></div>
              </div>
            </div>

           <div class="col-10">
              <p>Join the Conversation</p>
              <div class="telegram-counter-container">
                <div class="telegram-counter" id="telegram-counter">
                  ...
                </div>
              </div>
           </div>
        
        </div>
      </a>
    </div>
  </div>
</aside>
