<div class="row graphic-boxes-small-wrapper">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
   <a href="https://discord.gg/q3Sfzb8S2V" target="_blank">
    <div class="graphic-box-small">
      <div class="graphic-box-small-content">
        <div class="col-2 align-self-center"><img src="{{ site.baseurl }}/assets/img/discord.svg" alt="" /></div>
        <div class="col-10">
          <h4>Discord</h4>
          <p>The primary Tari community hangout</p>
        </div>
      </div>
    </div>
  </a>
</div>


<div class="col-lg-6 col-md-6 col-sm-12">
<a href="/subscribe/">
    <div class="graphic-box-small">
      <div class="graphic-box-small-content">
        <div class="col-2 align-self-center">
          <img src="{{ site.baseurl }}/assets/img/substack.jpg" alt="" />
        </div>
        <div class="col-10">
          <h4>Substack</h4>
          <p>A curated weekly newsletter of protocol updates</p>
        </div>
      </div>
    </div>
  </a>
</div>

  <div class="col-lg-6 col-md-6 col-sm-12">
    <a href="https://t.me/tariproject" target="_blank">
      <div class="graphic-box-small">
        <div class="graphic-box-small-content">
          <div class="col-2 align-self-center">
            <img src="{{ site.baseurl }}/assets/img/telegram.jpg" alt="" />
          </div>
          <div class="col-10">
            <h4>Telegram</h4>
            <p>A slightly noisier place to discuss Tari</p>
          </div>
        </div>
      </div>
    </a>
  </div>

<div class="col-lg-6 col-md-6 col-sm-12">
  <a href="https://libera.chat/" target="_blank">
    <div class="graphic-box-small">
      <div class="graphic-box-small-content">
        <div class="col-2 align-self-center">
          <img src="{{ site.baseurl }}/assets/img/irc.jpg" alt="" />
        </div>  
        <div class="col-10">
          <h4>IRC #tari</h4>
          <p>Mirror of the Tari #dev discord channel</p>
        </div>
      </div>
    </div>
  </a>
</div>



<div class="col-lg-6 col-md-6 col-sm-12">
  <a href="https://twitter.com/tari" target="_blank">
    <div class="graphic-box-small">
      <div class="graphic-box-small-content">
        <div class="col-2 align-self-center">
          <img src="{{ site.baseurl }}/assets/img/twitter.jpg" alt="" />
        </div>
        <div class="col-10">
          <h4>Twitter</h4>
          <p>Announcements and fun</p>
        </div>
      </div>
    </div>
  </a>
</div>

<div class="col-lg-6 col-md-6 col-sm-12">
  <a href="https://www.reddit.com/r/tari" target="_blank">
    <div class="graphic-box-small">
      <div class="graphic-box-small-content">
        <div class="col-2 align-self-center">
          <img src="{{ site.baseurl }}/assets/img/reddit.jpg" alt="" />
        </div>

        <div class="col-10">
          <h4>Reddit</h4>
          <p>Conversations regarding privacy, cryptography, the Tari protocol, traditions, philosophy, and anything else that is of interest to the community</p>
        </div>

      </div>
    </div>
  </a>
</div>

</div>

