.download-content {
  display: none;
}
.download-content.active {
  display: flex;
  flex-direction: column;
}
.dl-card {
  background: #ffffff;
  box-shadow: 0 10px 15px 0 rgba(236, 236, 236, 0.5);
  border-radius: 10px;
  max-width: var(--max-content-width);
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  position: relative;
  padding: 70px;
}

.dl-card .btn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.tab-button-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: var(--max-content-width);
  margin: 45px 0 45px 0;
  flex-wrap: wrap;
}
.tab-button {
  font-family: Avenir-Black;
  font-size: 18px;
  color: #bcbcbb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;
  padding-bottom: 17px;
}
.os-logo-img {
  display: flex;
}
.os-logo-img-active {
  display: none;
}
.tab-button.active {
  color: #9330ff;
  padding-bottom: 15px;
  border-bottom: 2px solid #9330ff;
}

.tab-button:hover {
  color: #9330ff;
  cursor: pointer;
}
.tab-button.active .os-logo-img-active,
.tab-button:hover .os-logo-img-active {
  display: flex;
}
.tab-button.active .os-logo-img,
.tab-button:hover .os-logo-img {
  display: none;
}

.tab-button:hover .tab-button span path {
  fill: #9330ff;
}

.tab-button img {
  margin-right: 15px;
}

.dl-card .dl-info-holder > h2.dl-title {
  margin: 0 0 20px 0 !important;
}

.dl-card .dl-info-holder > p.dl-subtitle {
  margin: 0 !important;
}

.dl-info-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  min-height: 370px;
}

.dl-machine-img {
  position: absolute;
  right: 0;
  max-height: 370px;
}

.version,
.checksum {
  font-family: Avenir-Medium;
  font-size: 12px;
  color: #a0a0a0;
  letter-spacing: 0;
  line-height: 20px;
  margin: 10px 0 0 0;
  word-break: break-all;
}

.source,
.tutorial-video {
  font-family: Avenir-Black;
  font-size: 16px;
  color: #9330ff;
  letter-spacing: 0;
  text-decoration: none;
  line-height: 15px;
}

.binaries-container {
  max-width: var(--max-content-width);
}

.binaries-container > .bin-headers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px 15px;
  border-bottom: 1px solid #ececec;
  gap: 5px;
}
div.bin-header {
  display: flex;
  width: 33%;
}

.binaries-container > .bin-headers > div,
.bin-row > div {
  flex-grow: 1;
}

.binaries-container > .bin-headers > div:nth-child(2),
.bin-row > div:nth-child(2) {
  flex: 0 0 20%;
  justify-content: center;
}

.binaries-container > .bin-headers > div:nth-child(3),
.bin-row > div:nth-child(3) {
  flex: 0 0 10%;
  justify-content: center;
}

.header-text {
  font-family: Avenir-Heavy, 'Avenir-Heavy', 'Myriad Pro', Arial, Verdana;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 35px;
}
.bin-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 15px;
  background: #f7f7f7;
  gap: 5px;
}

.bin-row.alt-colour {
  background: #fafafa;
}

div.bin-row-item {
  display: flex;
  font-family: Avenir-Medium;
  font-size: 16px;
  color: #9330ff;
  letter-spacing: 0;
  line-height: 35px;
}

div.bin-row-item.bin-left {
  width: 66%;
}

div.bin-row-item.bin-right {
  color: #626262;
  width: 33%;
  justify-content: center;
}

div#support.download-content > .dl-card div.dl-info-holder {
  justify-content: center;
}

.past-versions-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  max-width: var(--max-content-width);
}

.dl-current {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.dl-current-arch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.past {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.hide {
  display: none !important;
}

@media (max-width: 768px) {
  .select-network {
    width: 100%;
  }
}

.select-network {
  margin: 10px 10px 10px 0 !important;
  font-size: calc(1.5 * var(--root-size)) !important;
}

.chip {
  background: #ebebeb;
  border-radius: 30px;
  padding: 5px 15px;
  margin-right: 10px;
  font-size: calc(1.5 * var(--root-size));
  color: #000000;
  border: none;
  font-size: calc(1.5 * var(--root-size));
}

.chip:hover {
  cursor: pointer;
  background: #9330ff;
  color: #ffffff;
}

.active-chip {
  background: #9330ff;
  color: #ffffff;
}

@media only screen and (max-width: 1100px) and (min-width: 900px) {
  .dl-machine-img {
    max-height: 220px;
    margin-top: 80px;
  }

  .tab-button {
    margin-bottom: 15px;
    justify-content: flex-start;
    width: 28vw;
  }
}

@media only screen and (max-width: 899px) and (min-width: 769px) {
  .dl-machine-img {
    max-height: 220px;
    margin-top: 80px;
  }

  .tab-button {
    margin-bottom: 15px;
    justify-content: flex-start;
    width: 38vw;
  }
}

@media only screen and (max-width: 768px) {
  .past-versions-header {
    display: flex;
    flex-direction: column;
  }

  #downloads {
    padding-top: 0;
  }
  .dl-machine-img {
    display: none;
  }
  .dl-card {
    padding: 35px;
  }

  .tab-button-holder {
    justify-content: flex-start;
  }

  .tab-button {
    width: 43vw;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
  }

  div#support-btn.tab-button {
    align-items: flex-start;
  }

  .bin-row,
  .bin-headers {
    padding: 8px;
  }

  .header-text {
    font-size: 16px;
    line-height: 14px;
  }
  div.bin-row-item.bin-right,
  div.bin-row-item.bin-left {
    font-size: 14px;
    line-height: 22px;
    width: 47%;
  }

  div.bin-header {
    width: 47%;
  }
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-top: 10px;
}

.dropdown-label {
  margin-bottom: 0 !important;
  flex-grow: 1;
}

.dropdown-container select,
#linuxArchID,
#osxArchID,
#windowsArchID,
#linuxNetworkID,
#osxNetworkID,
#windowsNetworkID {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  flex-grow: 1;
  min-width: 200px;
}
