/*--
	FAQ Start
	--*/

	#faq{

		padding-bottom: 150px;
	}

	.faq-container{
		background: white;
		box-shadow: 0 2px 25px 0 rgba(0,0,0,0.04);
		border-radius: 5px;
		padding: 20px 50px 15px 30px;
		margin-bottom: 20px;
		cursor: pointer;
		transition: .2s;



	}

	.faq-container:hover{
		/*transform: scale(1.015);*/
		box-shadow: 0 10px 25px 0 rgba(0,2,0,0.12);
		z-index: 199;
		transition: .2s;

	}


	.faq-container ol,
	.faq-container ul,
	.faq-container p {
		display: none;
		margin-bottom: 0;
		margin-top: 20px;
		line-height: 25px;
		font-weight: 400;
	}

	.faq-container hr{
		display: none;
	}

	.faq-container h3{
		margin-bottom: 0;
		font-size: 20px !important;
		line-height: 30px !important;
	}

	.arrow{
		position: absolute;
		right: 50px;
		transform: none;
		margin-top: 12px;
		transition: .3s;

	}

	.arrow-rotate{
		transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transition: .5s;
	}


	@media only screen and (max-width: 767px){
		#faq{
			padding: 30px;
		}

		.section-title{
			margin-bottom: 40px;
		}

		.faq-container{
			padding: 20px 50px 20px 20px;
		}

		.faq{
			margin-top: 80px;
			margin-bottom: 40px;
		}

	}

	@media only screen and (max-width: 500px){

#faq{
	padding: 0px;
	margin-bottom: 40px;
}
.faq{
			margin-top: 80px;
			margin-bottom: 40px;
		}

}
