---
layout: default
title: { { page.title | append: "| Tari" } }
---

<section class="main blog-post">
  {% include newsletter-subscribe.html %}
  <div class="post content" style="max-width: var(--max-content-width);">
    <div
      class="post-img"
      style="background-image:url({% if page.thumbnail %}{{ site.baseurl }}/assets/lessons/img/{{ page.thumbnail }}{% else %}{{ site.baseurl }}/assets/lessons/img/placeholder-thumbnail.jpg{% endif %})"
    >
      <img src="{{ site.baseurl }}/assets/img/posts/placeholder-spacer.gif" />
    </div>

    <div class="post-head">
      <div>
        <p class="meta">
          By {{ page.author }}
        </p>
        <h1 style="margin-bottom: calc(5 * var(--root-size));">{{ page.title }}</h1>
        {% if page.subtitle %}
        <div class="lead">
          <h2 style="margin-bottom: calc(2 * var(--root-size)); margin-top: 0px;">
            {{ page.subtitle }}
          </h2>
        </div>
        {% endif %}
        <!-- {% if page.author %}<strong class="post-author">{{ page.author }}</strong>{% endif %} -->
      </div>
    </div>

    <section id="post" style="position: relative; z-index: 199;">
      {{ content }}
    </section>

    <div class="block">
      <a
        class="btn btn-lg"
        style="margin-bottom: 80px;"
        href="{{ site.baseurl }}/explore-the-protocol"
        >Back to All Lessons</a
      >
    </div>
  </div>
</section>
