---
layout: default
title: { { page.title | append: "| Tari" } }
---

<section class="main blog-post">
  {% include newsletter-subscribe.html %}
  <div class="post content" style="max-width: var(--max-content-width);">
    <div class="post-img" style="background-image:url({% if page.thumbnail %}{{ site.baseurl }}/assets/updates/img/{{ page.thumbnail }}{% else %}{{ site.baseurl }}/assets/updates/img/placeholder-thumbnail.jpg{% endif %})">
      <div><h1 class="update-page-title">{{ page.date | date: '%B %d, %Y' }}</h1></div>
      <img src="{{ site.baseurl }}/assets/img/posts/placeholder-spacer.gif" />
    </div>

    <div class="post-head">
      <div style="margin-bottom: 40px;">
        <p class="meta">
          By {{ page.author }}
        </p>
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
          <h2 class="subtitle" style="margin-top: 10px; font-family: Avenir-Light, 'Avenir-Light' !important;">
            {{ page.subtitle }}
          </h2>
        {% endif %}
        <!-- {% if page.author %}<strong class="post-author">{{ page.author }}</strong>{% endif %} -->
      </div>
    </div>

    <section id="post" style="position: relative; z-index: 199;">
      {{ content }}
    </section>

    <div class="block">
      <a
        class="btn btn-lg"
        style="margin-bottom: 80px;"
        href="{{ site.baseurl }}/updates"
        >Back to all Updates</a
      >
    </div>
  </div>
</section>
